#landingMain {
    padding-block: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#landingMain > article {
    max-width: 80vw;
}

#landingMain > article > h2:last-of-type {
    text-align: center;
}

#landingMain > article > h2:last-of-type {
    margin-top: 0;
}

@media (min-width: 768px) {
    #landingMain > article > h1, h2 {
        text-align: center;
    }
}