#landingMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#landingMain > article {
    max-width: 90vw;
}

#landingMain > article {
    text-align: center;
}

#landingMain > article > h2:last-of-type {
    margin-top: 0;
}