#servicesMain > article {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

#servicesMain > article > section {
    margin-block: 4vh;
    margin-inline: 4vh;
    padding-inline: 4vw;
    padding-block: 2vh;
}

#servicesMain > article > section:nth-of-type(2) > p:first-of-type {
    font-style: italic;
}

#servicesMain > article > section:nth-of-type(3) > p:first-of-type {
    font-style: italic;
}

#servicesMain > * h2 {
    margin-top: 0;
    text-align: center;
}

#servicesMain > * li {
    font-weight: 600;
}

@media (min-width: 768px) {
    #servicesMain > article {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    #servicesMain > * h1 {
        margin-top: 0;
        text-align: center;
    }
    
    #servicesMain > article > section {
        max-width: 40%;
        padding-inline: 2vw;
        padding-block: 2vh;
    }
}