* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, li {
    color: white;
}

p, li {
    font-size: 1.1em;
}

li {
    font-weight: 600;
}

body {
    padding: 0;
    margin: 0;
}

main {
    min-height: 84vh;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    padding-block: 3vh;
}

@media (min-width: 768px) {
    p {
        font-size: 1.4em;
    }

    main {
        padding-block: 4vh;
    }
}