* {
    box-sizing: border-box;
}

* h4, p {
    color: white;
}

body {
    padding: 0;
    margin: 0;
}

header {
    min-height: 10vh;
    height: 10vh;
    max-height: 10vh;
}

main {
    min-height: 80vh;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
}

footer {
    min-height: 10vh;
    height: 10vh;
    max-height: 10vh;
}